<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="pnp_dual_fr3">

  <xacro:include filename="$(find franka_description)/robots/common/franka_robot.xacro"/>
  <xacro:include filename="$(find pnp_dual_fr3_description)/robots/pnp_dual_fr3/pnp_dual_fr3.ros2_control.xacro"/>

  <xacro:arg name="robot_types" default="['fr3v2','fr3v2']"/>
  <xacro:property name="robot_types_list" value="${$(arg robot_types)}"/>

  <xacro:arg name="arm_prefixes" default="['left','right']"/>
  <xacro:property name="arm_prefixes_list" value="${$(arg arm_prefixes)}"/>

  <xacro:arg name="robot_ips" default="['172.16.0.2','172.16.0.3']"/>
  <xacro:property name="robot_ips_list" value="${$(arg robot_ips)}"/>

  <xacro:arg name="mounting_type" default="dual_arm_45"/>
  <xacro:arg name="home_pose_type" default="dual_arm_45"/>
  <xacro:arg name="no_prefix" default="false"/>
  <xacro:arg name="hand" default="false"/>
  <xacro:arg name="ee_id" default="franka_hand"/>
  <xacro:arg name="special_connection" default=""/>
  <xacro:arg name="xyz_ee" default="0 0 0"/>
  <xacro:arg name="rpy_ee" default="0 0 ${-pi/4}"/>
  <xacro:arg name="tcp_xyz" default="0 0 0.1034"/>
  <xacro:arg name="tcp_rpy" default="0 0 0"/>
  <xacro:arg name="safety_distance" default="0.03"/>
  <xacro:arg name="with_sc" default="false"/>
  <xacro:arg name="ros2_control" default="false"/>
  <xacro:arg name="use_fake_hardware" default="false"/>
  <xacro:arg name="fake_sensor_commands" default="false"/>
  <xacro:arg name="gazebo" default="false"/>
  <xacro:arg name="gazebo_effort" default="false"/>
  <xacro:arg name="description_pkg" default="franka_description"/>
  <xacro:arg name="is_async" default="false"/>
  <xacro:arg name="thread_priority" default="50"/>
  <xacro:arg name="collision_behavior_lower_torque_thresholds_acceleration" default=""/>
  <xacro:arg name="collision_behavior_upper_torque_thresholds_acceleration" default=""/>
  <xacro:arg name="collision_behavior_lower_torque_thresholds_nominal" default=""/>
  <xacro:arg name="collision_behavior_upper_torque_thresholds_nominal" default=""/>
  <xacro:arg name="collision_behavior_lower_force_thresholds_acceleration" default=""/>
  <xacro:arg name="collision_behavior_upper_force_thresholds_acceleration" default=""/>
  <xacro:arg name="collision_behavior_lower_force_thresholds_nominal" default=""/>
  <xacro:arg name="collision_behavior_upper_force_thresholds_nominal" default=""/>

  <xacro:property name="home_positions" value="${xacro.load_yaml('$(find pnp_dual_fr3_description)/config/home_positions.yaml')}"/>
  <xacro:property name="selected_home_positions" value="${home_positions['$(arg home_pose_type)']}"/>

  <xacro:property name="left_robot_type" value="${robot_types_list[0]}"/>
  <xacro:property name="right_robot_type" value="${robot_types_list[1]}"/>
  <xacro:property name="left_arm_prefix" value="${arm_prefixes_list[0]}"/>
  <xacro:property name="right_arm_prefix" value="${arm_prefixes_list[1]}"/>
  <xacro:property name="left_prefix" value="${left_arm_prefix + '_' if left_arm_prefix else ''}"/>
  <xacro:property name="right_prefix" value="${right_arm_prefix + '_' if right_arm_prefix else ''}"/>
  <xacro:property name="use_dual_arm_45_mounting" value="${'$(arg mounting_type)' == 'dual_arm_45'}"/>
  <xacro:property name="mounting_base_link" value="${'dual_arm_45_base_link' if use_dual_arm_45_mounting else 'base_link'}"/>
  <xacro:property name="mounting_base_mesh" value="${'dual_arm_45_base_link.STL' if use_dual_arm_45_mounting else 'base_link.STL'}"/>
  <xacro:property name="mounting_base_visual_rpy" value="${'-1.5708000001 -0.0000000001 -3.1415853072' if use_dual_arm_45_mounting else '0 0 0'}"/>
  <xacro:property name="left_mount_xyz" value="${'-0.038 0.18 0.304' if use_dual_arm_45_mounting else '-0.038 0.118 0.65'}"/>
  <xacro:property name="left_mount_rpy" value="${'0.5567600306 0.5689773370 2.4626595739' if use_dual_arm_45_mounting else '1.57079265 2.35619449 3.14159265'}"/>
  <xacro:property name="right_mount_xyz" value="${'-0.038 -0.18 0.304' if use_dual_arm_45_mounting else '-0.038 -0.118 0.65'}"/>
  <xacro:property name="right_mount_rpy" value="${'-0.5567600306 0.5689773370 -2.4626595739' if use_dual_arm_45_mounting else '-1.57079265 2.35619449 -3.14159265'}"/>

  <link name="pnp_root"/>

  <joint name="pnp_root_to_${mounting_base_link}" type="fixed">
    <parent link="pnp_root"/>
    <child link="${mounting_base_link}"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="${mounting_base_link}">
    <visual>
      <origin xyz="0 0 0" rpy="${mounting_base_visual_rpy}"/>
      <geometry>
        <mesh filename="package://pnp_dual_fr3_description/meshes/${mounting_base_mesh}"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="${mounting_base_visual_rpy}"/>
      <geometry>
        <mesh filename="package://pnp_dual_fr3_description/meshes/${mounting_base_mesh}"/>
      </geometry>
    </collision>
    <xacro:if value="${use_dual_arm_45_mounting}">
      <inertial>
        <origin xyz="-0.0198650146477697 1.2755017047279E-05 0.222334575056727" rpy="0 0 0"/>
        <mass value="6.60648599522062"/>
        <inertia ixx="0.0936597875943432" ixy="1.09875644923452E-05" ixz="0.000154650545694182" iyy="0.0511056842352335" iyz="-1.54662487107246E-05" izz="0.0741382717847405"/>
      </inertial>
    </xacro:if>
    <xacro:unless value="${use_dual_arm_45_mounting}">
      <inertial>
        <origin xyz="0.16881 6.9204e-06 -0.041149" rpy="0 0 0"/>
        <mass value="126.89"/>
        <inertia ixx="13.035" ixy="2.2312e-05" ixz="0.0074177" iyy="9.5179" iyz="-0.00013636" izz="16.483"/>
      </inertial>
    </xacro:unless>
  </link>

  <joint name="${mounting_base_link}_to_${left_arm_prefix}_base" type="fixed">
    <origin xyz="${left_mount_xyz}" rpy="${left_mount_rpy}"/>
    <parent link="${mounting_base_link}"/>
    <child link="${left_arm_prefix}_base"/>
  </joint>

  <joint name="${mounting_base_link}_to_${right_arm_prefix}_base" type="fixed">
    <origin xyz="${right_mount_xyz}" rpy="${right_mount_rpy}"/>
    <parent link="${mounting_base_link}"/>
    <child link="${right_arm_prefix}_base"/>
  </joint>

  <xacro:franka_robot
    robot_type="${left_robot_type}"
    gazebo="$(arg gazebo)"
    hand="$(arg hand)"
    ee_id="$(arg ee_id)"
    special_connection="$(arg special_connection)"
    xyz_ee="$(arg xyz_ee)"
    rpy_ee="$(arg rpy_ee)"
    tcp_xyz="$(arg tcp_xyz)"
    tcp_rpy="$(arg tcp_rpy)"
    safety_distance="$(arg safety_distance)"
    with_sc="$(arg with_sc)"
    ros2_control="false"
    robot_ip="${robot_ips_list[0]}"
    use_fake_hardware="$(arg use_fake_hardware)"
    fake_sensor_commands="$(arg fake_sensor_commands)"
    gazebo_effort="$(arg gazebo_effort)"
    no_prefix="$(arg no_prefix)"
    arm_prefix="${left_prefix}"
    description_pkg="$(arg description_pkg)"
    connected_to="${left_arm_prefix}_base"
    is_async="$(arg is_async)"
    thread_priority="$(arg thread_priority)"/>

  <xacro:franka_robot
    robot_type="${right_robot_type}"
    gazebo="$(arg gazebo)"
    hand="$(arg hand)"
    ee_id="$(arg ee_id)"
    special_connection="$(arg special_connection)"
    xyz_ee="$(arg xyz_ee)"
    rpy_ee="$(arg rpy_ee)"
    tcp_xyz="$(arg tcp_xyz)"
    tcp_rpy="$(arg tcp_rpy)"
    safety_distance="$(arg safety_distance)"
    with_sc="$(arg with_sc)"
    ros2_control="false"
    robot_ip="${robot_ips_list[1]}"
    use_fake_hardware="$(arg use_fake_hardware)"
    fake_sensor_commands="$(arg fake_sensor_commands)"
    gazebo_effort="$(arg gazebo_effort)"
    no_prefix="$(arg no_prefix)"
    arm_prefix="${right_prefix}"
    description_pkg="$(arg description_pkg)"
    connected_to="${right_arm_prefix}_base"
    is_async="$(arg is_async)"
    thread_priority="$(arg thread_priority)"/>

  <xacro:if value="$(arg ros2_control)">
    <xacro:pnp_franka_arm_ros2_control
      robot_type="${left_robot_type}"
      robot_ip="${robot_ips_list[0]}"
      initial_positions="${selected_home_positions.left}"
      use_fake_hardware="$(arg use_fake_hardware)"
      fake_sensor_commands="$(arg fake_sensor_commands)"
      gazebo="$(arg gazebo)"
      hand="$(arg hand)"
      gazebo_effort="$(arg gazebo_effort)"
      arm_prefix="${left_prefix}"
      is_async="$(arg is_async)"
      thread_priority="$(arg thread_priority)"
      collision_behavior_lower_torque_thresholds_acceleration="$(arg collision_behavior_lower_torque_thresholds_acceleration)"
      collision_behavior_upper_torque_thresholds_acceleration="$(arg collision_behavior_upper_torque_thresholds_acceleration)"
      collision_behavior_lower_torque_thresholds_nominal="$(arg collision_behavior_lower_torque_thresholds_nominal)"
      collision_behavior_upper_torque_thresholds_nominal="$(arg collision_behavior_upper_torque_thresholds_nominal)"
      collision_behavior_lower_force_thresholds_acceleration="$(arg collision_behavior_lower_force_thresholds_acceleration)"
      collision_behavior_upper_force_thresholds_acceleration="$(arg collision_behavior_upper_force_thresholds_acceleration)"
      collision_behavior_lower_force_thresholds_nominal="$(arg collision_behavior_lower_force_thresholds_nominal)"
      collision_behavior_upper_force_thresholds_nominal="$(arg collision_behavior_upper_force_thresholds_nominal)"/>

    <xacro:pnp_franka_arm_ros2_control
      robot_type="${right_robot_type}"
      robot_ip="${robot_ips_list[1]}"
      initial_positions="${selected_home_positions.right}"
      use_fake_hardware="$(arg use_fake_hardware)"
      fake_sensor_commands="$(arg fake_sensor_commands)"
      gazebo="$(arg gazebo)"
      hand="$(arg hand)"
      gazebo_effort="$(arg gazebo_effort)"
      arm_prefix="${right_prefix}"
      is_async="$(arg is_async)"
      thread_priority="$(arg thread_priority)"
      collision_behavior_lower_torque_thresholds_acceleration="$(arg collision_behavior_lower_torque_thresholds_acceleration)"
      collision_behavior_upper_torque_thresholds_acceleration="$(arg collision_behavior_upper_torque_thresholds_acceleration)"
      collision_behavior_lower_torque_thresholds_nominal="$(arg collision_behavior_lower_torque_thresholds_nominal)"
      collision_behavior_upper_torque_thresholds_nominal="$(arg collision_behavior_upper_torque_thresholds_nominal)"
      collision_behavior_lower_force_thresholds_acceleration="$(arg collision_behavior_lower_force_thresholds_acceleration)"
      collision_behavior_upper_force_thresholds_acceleration="$(arg collision_behavior_upper_force_thresholds_acceleration)"
      collision_behavior_lower_force_thresholds_nominal="$(arg collision_behavior_lower_force_thresholds_nominal)"
      collision_behavior_upper_force_thresholds_nominal="$(arg collision_behavior_upper_force_thresholds_nominal)"/>
  </xacro:if>

</robot>
